@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --mousee: url(./mousee.svg), auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Winky Rough", sans-serif;
}

html {
    cursor: var(--mousee);
}

body {
    background: #FFFFFF;
    color: white;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#tudo {
    background-color: #67568c;
    border: 2px solid #1f1235;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    min-width: 300px;
    min-height: 400px;
}

h1 {
    text-align: center;
    background-color: #ff6e6c;
    border: 2px solid #1f1235;
}

#perENum {
    border: 2px solid white;
    background-color: #1f1235;
    padding-left: 20px;
}

#numPerg {
    border: 1px solid #1b1425;
    background-color: #ff6e6c;
    padding: 1px 9px;
    border-radius: 50%;
}

#alternativas li {
    background-color: #fbdd74;
    border: 2px solid #1f1235;
    color: #1f1235;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
}

#alternativas li:hover {
    background-color: #ff6e6c;
}

#progresso {
    text-align: center;
}

#pontuacao {
    text-align: center;
}